{
  "plugins": [
    [
      "./src/transfer01",
      {
        "bad": "good",
        "dead": "alive"
      }
    ],
    [
        "./src/transfer02",
        {
          "NODE_ENV": "development"
        }
    ],
    [
      "./src/transfer03",
      {
        "library": "lodash"
      }
    ],
    [
      "./src/transfer04"
    ]
  ]
}